extends ./layout.jade

block title
  title Login

block content
  form(method='post')
    input(type='text', placeholder='passkey', name='passKey')
    input(type='submit', value='Submit')
    error=error
          
